In [93]:
# import dependencies
import pandas as pd
import os
import csv
import datetime as dt

In [94]:
# create the file_path to the data
file_path = 'C:/Users/ssteffen/desktop/sam/Vanderbilt Boot Camp/MyRepo/Module 20_Final/Final Project/Resources/Massachusettes_data.csv'

# read in the data as a df
df = pd.read_csv(file_path)
df

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,for_sale,169900.0,2.0,2.0,NaN,"420 Main St Apt 42, Agawam, MA, 01001",420 Main St Apt 42,Agawam,Massachusetts,1001.0,892.0,4/30/2019,NaN,NaN,NaN
1,for_sale,525000.0,3.0,3.0,0.45,"955 River Rd, Agawam, MA, 01001",955 River Rd,Agawam,Massachusetts,1001.0,2314.0,6/25/2014,NaN,NaN,NaN
2,for_sale,289900.0,3.0,2.0,0.36,"82 Harvey Johnson Dr, Agawam, MA, 01001",82 Harvey Johnson Dr,Agawam,Massachusetts,1001.0,1276.0,10/12/2012,NaN,NaN,NaN
3,for_sale,239900.0,2.0,3.0,NaN,"15 Ash Ln Unit 15, Agawam, MA, 01001",15 Ash Ln Unit 15,Agawam,Massachusetts,1001.0,1229.0,6/7/2016,NaN,NaN,NaN
4,for_sale,249900.0,2.0,1.0,NaN,"181 Brookfield Ln Unit 181, Agawam, MA, 01001",181 Brookfield Ln Unit 181,Agawam,Massachusetts,1001.0,860.0,1/17/1997,NaN,NaN,NaN
5,for_sale,384900.0,3.0,2.0,0.46,"45 Hampden Ln, Agawam, MA, 01001",45 Hampden Ln,Agawam,Massachusetts,1001.0,1476.0,11/20/1986,NaN,NaN,NaN
6,for_sale,175000.0,2.0,2.0,NaN,"418 Meadow St Unit A4, Agawam, MA, 01001",418 Meadow St Unit A4,Agawam,Massachusetts,1001.0,1056.0,9/12/2019,NaN,NaN,NaN
7,for_sale,195000.0,2.0,2.0,NaN,"45 Corey Colonial Unit 45, Agawam, MA, 01001",45 Corey Colonial Unit 45,Agawam,Massachusetts,1001.0,960.0,12/14/2018,NaN,NaN,NaN
8,for_sale,199999.0,3.0,2.0,1.76,"88 South St, Agawam, MA, 01001",88 South St,Agawam,Massachusetts,1001.0,1968.0,9/19/2008,NaN,NaN,NaN
9,for_sale,419000.0,4.0,2.0,2.00,"57 Amherst Rd, Pelham, MA, 01002",57 Amherst Rd,Pelham,Massachusetts,1002.0,1607.0,7/25/2005,NaN,NaN,NaN
10,for_sale,745000.0,4.0,3.0,0.56,"103 Sunset Ave, Amherst, MA, 01002",103 Sunset Ave,Amherst,Massachusetts,1002.0,2847.0,6/24/1992,NaN,NaN,NaN
11,for_sale,875000.0,4.0,4.0,1.50,"61 S Valley Rd, Pelham, MA, 01002",61 S Valley Rd,Pelham,Massachusetts,1002.0,4366.0,7/12/1996,NaN,NaN,NaN
12,for_sale,699900.0,4.0,4.0,0.77,"12 Kettle Pond Rd, Amherst, MA, 01002",12 Kettle Pond Rd,Amherst,Massachusetts,1002.0,3879.0,8/11/1993,NaN,NaN,NaN
13,for_sale,275000.0,3.0,2.0,0.16,"5 Bedford Ct Unit 5, Amherst, MA, 01002",5 Bedford Ct Unit 5,Amherst,Massachusetts,1002.0,1280.0,8/19/2021,NaN,NaN,NaN
14,for_sale,415000.0,4.0,2.0,0.49,"257 Pondview Dr, Amherst, MA, 01002",257 Pondview Dr,Amherst,Massachusetts,1002.0,1814.0,6/30/1997,NaN,NaN,NaN
15,for_sale,232000.0,2.0,1.0,NaN,"24 Green Leaves Dr Unit 440, Amherst, MA, 01002",24 Green Leaves Dr Unit 440,Amherst,Massachusetts,1002.0,899.0,6/15/2021,NaN,NaN,NaN
16,for_sale,390000.0,3.0,2.0,0.50,"124 Grantwood Dr, Amherst, MA, 01002",124 Grantwood Dr,Amherst,Massachusetts,1002.0,1128.0,9/17/1998,NaN,NaN,NaN
17,for_sale,865000.0,4.0,3.0,0.65,"285 Lincoln Ave, Amherst, MA, 01002",285 Lincoln Ave,Amherst,Massachusetts,1002.0,3465.0,10/3/2006,NaN,NaN,NaN
18,for_sale,499900.0,4.0,3.0,0.46,"12 Kingman Rd, Amherst, MA, 01002",12 Kingman Rd,Amherst,Massachusetts,1002.0,2143.0,6/10/1988,NaN,NaN,NaN
19,for_sale,619900.0,4.0,3.0,NaN,"32 N Prospect St Apt 2, Amherst, MA, 01002",32 N Prospect St Apt 2,Amherst,Massachusetts,1002.0,3200.0,8/14/2020,NaN,NaN,NaN
20,for_sale,650000.0,5.0,4.0,0.64,"10 Bellview Cir, Amherst, MA, 01002",10 Bellview Cir,Amherst,Massachusetts,1002.0,2363.0,7/28/2004,NaN,NaN,NaN
21,for_sale,234900.0,2.0,2.0,NaN,"27 Green Leaves Dr Unit 704, Amherst, MA, 01002",27 Green Leaves Dr Unit 704,Amherst,Massachusetts,1002.0,979.0,12/2/2021,NaN,NaN,NaN
22,for_sale,975000.0,3.0,4.0,3.04,"1581 S East St, Amherst, MA, 01002",1581 S East St,Amherst,Massachusetts,1002.0,2074.0,6/21/2006,NaN,NaN,NaN
23,for_sale,439900.0,3.0,2.0,0.20,"34 Berkshire Ter, Amherst, MA, 01002",34 Berkshire Ter,Amherst,Massachusetts,1002.0,1349.0,9/2/2005,NaN,NaN,NaN
24,for_sale,397000.0,2.0,2.0,0.51,"43 Forge Pond Rd, Granby, MA, 01033",43 Forge Pond Rd,Granby,Massachusetts,1033.0,2000.0,12/13/2001,NaN,NaN,NaN
25,for_sale,389900.0,2.0,2.0,0.92,"145 Long Plain Rd, Whately, MA, 01093",145 Long Plain Rd,Whately,Massachusetts,1093.0,1723.0,9/25/1997,NaN,NaN,NaN
26,for_sale,459900.0,4.0,3.0,3.80,"113 Russell St, Sunderland, MA, 01375",113 Russell St,Sunderland,Massachusetts,1375.0,2768.0,7/17/2009,NaN,NaN,NaN
27,for_sale,249900.0,4.0,3.0,0.29,"512 Irene St, Chicopee, MA, 01020",512 Irene St,Chicopee,Massachusetts,1020.0,1514.0,7/30/1996,NaN,NaN,NaN
28,for_sale,324900.0,4.0,2.0,0.56,"32 Pleasant St, Granby, MA, 01033",32 Pleasant St,Granby,Massachusetts,1033.0,1523.0,9/19/2007,NaN,NaN,NaN
29,for_sale,364900.0,3.0,2.0,1.02,"600 Amherst Rd, Belchertown, MA, 01007",600 Amherst Rd,Belchertown,Massachusetts,1007.0,1617.0,10/5/2001,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72269,for_sale,399900.0,4.0,3.0,1.60,"30 Gore Rd, Blandford, MA, 01008",30 Gore Rd,Blandford,Massachusetts,1008.0,1960.0,5/1/2015,NaN,NaN,NaN
72270,for_sale,675000.0,4.0,3.0,0.69,"18 North St, Blandford, MA, 01008",18 North St,Blandford,Massachusetts,1008.0,3476.0,7/2/2007,NaN,NaN,NaN
72271,for_sale,144900.0,2.0,1.0,NaN,"549 Russell Rd Apt 2C, Westfield, MA, 01085",549 Russell Rd Apt 2C,Westfield,Massachusetts,1085.0,768.0,3/16/2007,NaN,NaN,NaN
72272,for_sale,1049000.0,3.0,3.0,3.10,"172 Cross Rd to Canaan Vly, New Marlborough, M...",172 Cross Rd to Canaan Vly,New Marlborough,Massachusetts,1259.0,2534.0,1/18/2008,NaN,NaN,NaN
72273,for_sale,420000.0,2.0,1.0,0.27,"915 Main St, Great Barrington, MA, 01230",915 Main St,Great Barrington,Massachusetts,1230.0,2016.0,1/8/1997,NaN,NaN,NaN
72274,for_sale,585000.0,5.0,3.0,4.00,"17 Sheffield Rd, Egremont, MA, 01230",17 Sheffield Rd,Egremont,Massachusetts,1230.0,3488.0,9/5/1997,NaN,NaN,NaN
72275,for_sale,199000.0,NaN,NaN,4.71,"409 Monterey Rd, Great Barrington, MA, 01230",409 Monterey Rd,Great Barrington,Massachusetts,1230.0,NaN,5/3/2002,NaN,NaN,NaN
72276,for_sale,369000.0,2.0,2.0,0.84,"33 Silver St, Great Barrington, MA, 01230",33 Silver St,Great Barrington,Massachusetts,1230.0,1852.0,7/25/2008,NaN,NaN,NaN
72277,for_sale,350000.0,2.0,1.0,0.48,"68 Creamery Rd, Egremont, MA, 01230",68 Creamery Rd,Egremont,Massachusetts,1230.0,1048.0,9/10/2002,NaN,NaN,NaN
72278,for_sale,990000.0,NaN,NaN,0.60,"546 Main St, Great Barrington, MA, 01230",546 Main St,Great Barrington,Massachusetts,1230.0,NaN,6/6/2006,NaN,NaN,NaN
72279,for_sale,839000.0,9.0,9.0,1.00,"59 Main St, Sheffield, MA, 01257",59 Main St,Sheffield,Massachusetts,1257.0,5358.0,5/1/2001,NaN,NaN,NaN
72280,for_sale,699000.0,3.0,3.0,2.00,"39 Pixley Rd, Monterey, MA, 01230",39 Pixley Rd,Monterey,Massachusetts,1230.0,2482.0,1/7/2002,NaN,NaN,NaN
72281,for_sale,74900.0,NaN,NaN,7.05,"5 E Mountain Rd, Great Barrington, MA, 01230",5 E Mountain Rd,Great Barrington,Massachusetts,1230.0,NaN,10/26/2000,NaN,NaN,NaN
72282,for_sale,575000.0,3.0,2.0,4.10,"20 Hillside Ln, Sheffield, MA, 01222",20 Hillside Ln,Sheffield,Massachusetts,1222.0,1900.0,6/23/2003,NaN,NaN,NaN
72283,for_sale,3250000.0,7.0,7.0,24.35,"64 Canaan Valley Rd, New Marlborough, MA, 01259",64 Canaan Valley Rd,New Marlborough,Massachusetts,1259.0,6200.0,11/12/2004,NaN,NaN,NaN
72284,for_sale,299000.0,3.0,1.0,10.75,"172 Town Hill Rd, Sandisfield, MA, 01255",172 Town Hill Rd,Sandisfield,Massachusetts,1255.0,1056.0,3/11/2008,NaN,NaN,NaN
72285,for_sale,1299000.0,5.0,6.0,3.00,"29 Creamery Rd, Egremont, MA, 01230",29 Creamery Rd,Egremont,Massachusetts,1230.0,3382.0,7/15/2004,NaN,NaN,NaN
72286,for_sale,715000.0,7.0,7.0,1.00,"3 Lake Buel Rd, Great Barrington, MA, 01230",3 Lake Buel Rd,Great Barrington,Massachusetts,1230.0,3684.0,1/24/2008,NaN,NaN,NaN
72287,for_sale,349000.0,3.0,2.0,2.00,"132 Sandisfield Rd, Sandisfield, MA, 01255",132 Sandisfield Rd,Sandisfield,Massachusetts,1255.0,1504.0,4/6/2007,NaN,NaN,NaN
72288,for_sale,139000.0,2.0,2.0,0.88,"272 Clayton Rd, Sheffield, MA, 01222",272 Clayton Rd,Sheffield,Massachusetts,1222.0,1193.0,4/25/1994,NaN,NaN,NaN
72289,for_sale,409000.0,3.0,2.0,1.25,"34 New Hollywood Blvd, Otis, MA, 01253",34 New Hollywood Blvd,Otis,Massachusetts,1253.0,1792.0,4/22/2005,NaN,NaN,NaN
72290,for_sale,2750000.0,5.0,3.0,19.85,"42 W Sheffield Rd, Great Barrington, MA, 01230",42 W Sheffield Rd,Great Barrington,Massachusetts,1230.0,7000.0,8/29/2005,NaN,NaN,NaN
72291,for_sale,15500000.0,3.0,5.0,298.00,"2128 Canaan Southfield Rd, New Marlborough, MA...",2128 Canaan Southfield Rd,New Marlborough,Massachusetts,1259.0,4273.0,1/28/2011,NaN,NaN,NaN
72292,for_sale,175000.0,4.0,1.0,0.13,"25 Pope St, Great Barrington, MA, 01230",25 Pope St,Great Barrington,Massachusetts,1230.0,1554.0,10/31/1997,NaN,NaN,NaN
72293,for_sale,850000.0,NaN,NaN,102.00,"93 Brett Rd, Monterey, MA, 01245",93 Brett Rd,Monterey,Massachusetts,1245.0,NaN,9/11/1989,NaN,NaN,NaN
72294,for_sale,2990000.0,4.0,3.0,9.75,"78 Mountain Rd, Mount Washington, MA, 01258",78 Mountain Rd,Mount Washington,Massachusetts,1258.0,4600.0,3/2/1998,NaN,NaN,NaN
72295,for_sale,3495000.0,7.0,4.0,36.90,"379 West St, Mount Washington, MA, 01258",379 West St,Mount Washington,Massachusetts,1258.0,3908.0,10/29/2010,NaN,NaN,NaN
72296,for_sale,349000.0,1.0,1.0,2.23,"45 Sandisfield Rd, Sandisfield, MA, 01255",45 Sandisfield Rd,Sandisfield,Massachusetts,1255.0,5104.0,12/12/2008,NaN,NaN,NaN
72297,for_sale,729000.0,4.0,4.0,1.30,"139 S Main St, Sheffield, MA, 01257",139 S Main St,Sheffield,Massachusetts,1257.0,5005.0,10/17/2000,NaN,NaN,NaN
72298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
#view the data columns
df.columns

Index(['status', 'price', 'bed', 'bath', 'acre_lot', 'full_address', 'street',
       'city', 'state', 'zip_code', 'house_size', 'sold_date', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [96]:
#drop unnecessary columns
df = df.drop(columns=[
             "bed",
             "bath",
             "acre_lot",
             "full_address",
             "Unnamed: 12", 
             "Unnamed: 13", 
             "Unnamed: 14"])
df.head()

,status,price,street,city,state,zip_code,house_size,sold_date
0,for_sale,169900.0,420 Main St Apt 42,Agawam,Massachusetts,1001.0,892.0,4/30/2019
1,for_sale,525000.0,955 River Rd,Agawam,Massachusetts,1001.0,2314.0,6/25/2014
2,for_sale,289900.0,82 Harvey Johnson Dr,Agawam,Massachusetts,1001.0,1276.0,10/12/2012
3,for_sale,239900.0,15 Ash Ln Unit 15,Agawam,Massachusetts,1001.0,1229.0,6/7/2016
4,for_sale,249900.0,181 Brookfield Ln Unit 181,Agawam,Massachusetts,1001.0,860.0,1/17/1997

In [97]:
# drop null values
df = df.dropna()
df.head()

,status,price,street,city,state,zip_code,house_size,sold_date
0,for_sale,169900.0,420 Main St Apt 42,Agawam,Massachusetts,1001.0,892.0,4/30/2019
1,for_sale,525000.0,955 River Rd,Agawam,Massachusetts,1001.0,2314.0,6/25/2014
2,for_sale,289900.0,82 Harvey Johnson Dr,Agawam,Massachusetts,1001.0,1276.0,10/12/2012
3,for_sale,239900.0,15 Ash Ln Unit 15,Agawam,Massachusetts,1001.0,1229.0,6/7/2016
4,for_sale,249900.0,181 Brookfield Ln Unit 181,Agawam,Massachusetts,1001.0,860.0,1/17/1997

In [98]:
# view the data types
df.dtypes

status         object
price         float64
street         object
city           object
state          object
zip_code      float64
house_size    float64
sold_date      object
dtype: object

In [99]:
#convert the data types

# convert the Zip code to a string and add a 0
df['zip_code'] = df['zip_code'].astype(str)
df['zip_code'] = '0' + df.zip_code.str.split('.').str[0]

# convert the price column to an integer
df['price'] = df['price'].astype(int)

# reduce the state column to say 'MA'
df['state'] = df['state'].astype(str)
df['state'] = 'MA'

df['sold_date'] = pd.to_datetime(df['sold_date'], format='%m/%d/%Y')

df.head()

,status,price,street,city,state,zip_code,house_size,sold_date
0,for_sale,169900,420 Main St Apt 42,Agawam,MA,01001,892.0,2019-04-30
1,for_sale,525000,955 River Rd,Agawam,MA,01001,2314.0,2014-06-25
2,for_sale,289900,82 Harvey Johnson Dr,Agawam,MA,01001,1276.0,2012-10-12
3,for_sale,239900,15 Ash Ln Unit 15,Agawam,MA,01001,1229.0,2016-06-07
4,for_sale,249900,181 Brookfield Ln Unit 181,Agawam,MA,01001,860.0,1997-01-17

In [103]:
# sort the df by sold_date
df = df.sort_values(by='sold_date', ascending=False)
df.head()

,status,price,street,city,state,zip_code,house_size,sold_date
61156,for_sale,4299000,11 Peter Williamson Blvd,Oak Bluffs,MA,02557,4200.0,2022-12-01
63272,for_sale,4299000,11 Peter Williamson Blvd,Oak Bluffs,MA,02557,4200.0,2022-12-01
63202,for_sale,1895000,34 Double Ox Rd,Oak Bluffs,MA,02557,2407.0,2022-09-30
61160,for_sale,1895000,34 Double Ox Rd,Oak Bluffs,MA,02557,2407.0,2022-09-30
62655,for_sale,940000,5B Pine Tree Rd Unit 1,Nantucket,MA,02554,798.0,2022-06-01

In [117]:
# filter the df by date to retain only data for 2018-2022
df = df.loc[(df['sold_date'] > '2017/12/31')]
df.head()

,status,price,street,city,state,zip_code,house_size,sold_date
61156,for_sale,4299000,11 Peter Williamson Blvd,Oak Bluffs,MA,02557,4200.0,2022-12-01
63272,for_sale,4299000,11 Peter Williamson Blvd,Oak Bluffs,MA,02557,4200.0,2022-12-01
63202,for_sale,1895000,34 Double Ox Rd,Oak Bluffs,MA,02557,2407.0,2022-09-30
61160,for_sale,1895000,34 Double Ox Rd,Oak Bluffs,MA,02557,2407.0,2022-09-30
62655,for_sale,940000,5B Pine Tree Rd Unit 1,Nantucket,MA,02554,798.0,2022-06-01

In [121]:
# drop duplicate data
df = df.drop_duplicates()
df.head()

,status,price,street,city,state,zip_code,house_size,sold_date
61156,for_sale,4299000,11 Peter Williamson Blvd,Oak Bluffs,MA,02557,4200.0,2022-12-01
63202,for_sale,1895000,34 Double Ox Rd,Oak Bluffs,MA,02557,2407.0,2022-09-30
62655,for_sale,940000,5B Pine Tree Rd Unit 1,Nantucket,MA,02554,798.0,2022-06-01
60962,for_sale,8900000,76 Menemsha Inn Rd,Chilmark,MA,02535,4033.0,2022-05-31
62633,for_sale,849995,40 1/2 Essex Rd,Nantucket,MA,02554,1030.0,2022-05-30

In [126]:
# drop erroneous data
df = df.loc[(df['sold_date'] < '2022/12/01')]
df.head()

,status,price,street,city,state,zip_code,house_size,sold_date
63202,for_sale,1895000,34 Double Ox Rd,Oak Bluffs,MA,02557,2407.0,2022-09-30
62655,for_sale,940000,5B Pine Tree Rd Unit 1,Nantucket,MA,02554,798.0,2022-06-01
60962,for_sale,8900000,76 Menemsha Inn Rd,Chilmark,MA,02535,4033.0,2022-05-31
62633,for_sale,849995,40 1/2 Essex Rd,Nantucket,MA,02554,1030.0,2022-05-30
64774,for_sale,950000,8 Myrtle Ave,Oak Bluffs,MA,02557,1320.0,2022-05-27

In [132]:
# reset the index
df = df.reset_index()
df.tail()

,index,status,price,street,city,state,zip_code,house_size,sold_date
436,301,for_sale,299900,26 Cold Hill Dr,Granby,MA,01033,880.0,2018-03-19
437,52975,for_sale,825000,2 Hawthorne Pl Apt 3M,Boston,MA,02114,1197.0,2018-03-14
438,55889,for_sale,1200000,45 Alban St Unit 1,Boston,MA,02124,2501.0,2018-03-05
439,17468,for_sale,324900,123 Sachem Ave,Worcester,MA,01606,908.0,2018-02-13
440,5275,for_sale,139000,137 N East St,Holyoke,MA,01040,1644.0,2018-01-18