In [1]:
# Import dependencies
import pandas as pd
import csv
import os

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Create the path to my file directory for the data files.
file_path = os.environ.get('PWD')
file_dir = f'{file_path}/Resources'

# Read in the Portland Housing Prices and Portland Median income CSV files as Pandas DataFrames.
dataset1 = pd.read_csv(f'{file_dir}/Portland_housing_w_rooms_reduced-zips.csv', low_memory=False)
dataset2 = pd.read_csv(f'{file_dir}/PortlandMedianIncomebyZip.csv')

'C:/Users/ssteffen/desktop/sam/Vanderbilt Boot Camp/MyRepo/Module 20_Final/US_Housing_Prices/Deliverable 1'

In [3]:
dataset1.dtypes

abbreviatedAddress     object
city                   object
zipcode                 int64
latitude              float64
longitude             float64
bathrooms               int64
bedrooms                int64
lotSize                 int64
daysOnZillow            int64
Date_sold              object
price                   int64
zestimate             float64
rentZestimate         float64
propertyTaxRate       float64
taxAssessedValue      float64
taxAssessedYear         int64
dtype: object

In [4]:
# Change Date Sold column to DATE data type
dataset1['Date_sold'] = pd.to_datetime(dataset1['Date_sold'])

In [5]:
# Remane Specific Columns in Dataset1
dataset1.rename(columns={'abbreviatedAddress': 'abbreviatedaddress', 
                         'lotSize': 'lotsize', 
                         'daysOnZillow': 'daysonzillow', 
                         'Date_sold': 'date_sold', 
                         'rentZestimate': 'rentzestimate', 
                         'propertyTaxRate': 'propertytaxrate', 
                         'taxAssessedValue': 'taxassessedvalue', 
                         'taxAssessedYear': 'taxassessedyear'}, inplace = True)
list(dataset1.columns)

['abbreviatedaddress',
 'city',
 'zipcode',
 'latitude',
 'longitude',
 'bathrooms',
 'bedrooms',
 'lotsize',
 'daysonzillow',
 'date_sold',
 'price',
 'zestimate',
 'rentzestimate',
 'propertytaxrate',
 'taxassessedvalue',
 'taxassessedyear']

In [6]:
list(dataset2.columns)

['#', 'Zip Code', 'Location', 'City', 'Avg. Income/H/hold']

In [7]:
# Remane Specific Columns in Dataset2
dataset2.rename(columns={'Zip Code': 'zipcode', 
                         'Location': 'location', 
                         'City': 'city', 
                         'Avg. Income/H/hold': 'median_income'}, inplace = True)
list(dataset2.columns)

['#', 'zipcode', 'location', 'city', 'median_income']

In [8]:
# Create the Database Engine
conn_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Portland_Housing_Prices"
db = create_engine(conn_string)
conn = db.connect()

# Insert Portland Housing Prices table to an existing PostgreSQL table using sqlalchemy
dataset1.to_sql('housing_prices', con=conn, if_exists='replace', index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

# Check to make sure all the columns & rows were imported correctly to PostgreSQL
dataset1_check = pd.read_sql_query("SELECT * FROM housing_prices", con=conn)
dataset1_check

,abbreviatedaddress,city,zipcode,latitude,longitude,bathrooms,bedrooms,lotsize,daysonzillow,date_sold,price,zestimate,rentzestimate,propertytaxrate,taxassessedvalue,taxassessedyear
0,19725 Cherrywood Way,Oregon City,97045,45.319950,-122.607986,3,4,4791,10,2021-07-15,550000,552500.0,2856.0,1.08,463856.0,2020
1,6002 NE 33rd Ave,Portland,97211,45.566624,-122.630440,2,3,4791,11,2021-07-15,500000,584000.0,2923.0,1.12,492590.0,2020
2,3172 SE 28th St,Gresham,97080,45.477249,-122.399887,3,3,5227,6,2021-07-15,485000,491300.0,1527.0,1.12,339110.0,2020
3,3285 SW Wallula Ave,Gresham,97080,45.473774,-122.446503,3,3,15681,6,2021-07-15,500000,505200.0,1997.0,1.12,429240.0,2020
4,5614 NE 18th Ave,Portland,97211,45.563541,-122.646706,1,3,5000,11,2021-07-15,585000,587200.0,2465.0,1.12,373230.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11849,16320 SW Sylvan Ct,Tigard,97224,45.401699,-122.780655,3,4,7405,357,2020-06-18,475000,544539.0,2795.0,1.13,432410.0,2019
11850,14175 SW Walnut Creek Way,Tigard,97223,45.433132,-122.821594,3,3,3049,359,2020-06-16,450000,516147.0,2495.0,1.13,435020.0,2019
11851,11949 SW Bull Mountain Rd,Tigard,97224,45.414082,-122.800179,3,4,18730,360,2020-06-16,618000,711321.0,2575.0,1.13,464170.0,2019
11852,547 SE 6th Ave,Hillsboro,97123,45.516758,-122.981148,1,1,3049,361,2020-06-15,315000,361491.0,1495.0,1.13,211450.0,2019
11853,741 NE Grant St,Hillsboro,97124,45.528576,-122.977852,2,3,16117,364,2020-06-12,410500,471453.0,2195.0,1.13,353830.0,2019

In [9]:
# Create the Database Engine
conn_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Portland_Housing_Prices"
db = create_engine(conn_string)
conn = db.connect()

# Insert Portland Median Income table to PostgreSQL
dataset2.to_sql('median_income', con=conn, if_exists='replace', index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

# Check to make sure all the columns & rows were imported correctly to PostgreSQL
dataset2_check = pd.read_sql_query("SELECT * FROM median_income", con=conn)
dataset2_check

     #  zipcode                location              city  median_income
0    1    97229  45.550653, -122.800197  Portland, Oregon          70082
1    2    97221  45.496540, -122.728969  Portland, Oregon          65229
2    3    97231  45.674300, -122.839313  Portland, Oregon          65164
3    4    97219  45.455096, -122.700631  Portland, Oregon          58461
4    5    97212  45.544232, -122.643617  Portland, Oregon          53679
5    6    97225  45.502074, -122.770530  Portland, Oregon          53020
6    7    97223  45.439710, -122.780767  Portland, Oregon          52527
7    8    97267  45.408427, -122.612867  Portland, Oregon          49742
8    9    97215  45.515050, -122.597392  Portland, Oregon          48262
9   10    97224  45.404971, -122.794448  Portland, Oregon          46558
10  11    97213  45.539290, -122.594209  Portland, Oregon          44395
11  12    97236  45.467602, -122.503512  Portland, Oregon          43515
12  13    97210  45.544186, -122.726656  Portland, Oregon          42759
13  14    97201  45.500236, -122.693325  Portland, Oregon          42569
14  15    97230  45.542903, -122.501034  Portland, Oregon          41262
15  16    97222  45.440273, -122.615888  Portland, Oregon          40899
16  17    97211  45.576781, -122.639907  Portland, Oregon          40582
17  18    97202  45.479389, -122.641179  Portland, Oregon          39879
18  19    97220  45.558978, -122.542556  Portland, Oregon          39649
19  20    97217  45.604409, -122.704613  Portland, Oregon          38442
20  21    97216  45.513930, -122.558810  Portland, Oregon          38066
21  22    97206  45.481159, -122.598300  Portland, Oregon          38040
22  23    97266  45.472611, -122.557503  Portland, Oregon          37234
23  24    97218  45.576291, -122.600896  Portland, Oregon          37011
24  25    97232  45.529610, -122.643921  Portland, Oregon          35755
25  26    97233  45.514321, -122.496997  Portland, Oregon          35291
26  27    97203  45.598977, -122.748018  Portland, Oregon          35266
27  28    97214  45.513962, -122.644031  Portland, Oregon          35013
28  29    97227  45.538229, -122.679346  Portland, Oregon          27432
29  30    97209  45.529896, -122.684777  Portland, Oregon          22185
30  31    97205  45.520414, -122.688800  Portland, Oregon          18158
31  32    97204  45.518775, -122.675276  Portland, Oregon          10465

In [10]:
# Query the merged table from PostgreSQL
merged_table = pd.read_sql_query("SELECT * FROM merged_table", con=conn)
merged_table.dtypes

abbreviatedaddress     object
city                   object
zipcode                 int64
latitude              float64
longitude             float64
bathrooms               int64
bedrooms                int64
lotsize                 int64
date_sold              object
price                 float64
zestimate             float64
median_income         float64
dtype: object

In [11]:
# Close the connection to the database
conn.close()